[submodule "star/basic/ui/lunaryline"]
	path = star/basic/ui/lunaryline
	url = https://github.com/casouri/lunaryline.git
[submodule "star/completion/company/company-childframe"]
	path = star/completion/company/company-childframe
	url = https://github.com/tumashu/company-childframe.git
[submodule "star/completion/company/posframe"]
	path = star/completion/company/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "star/lang/python/jpnb-state"]
	path = star/lang/python/jpnb-state
	url = https://github.com/casouri/jpnb-state.git
[submodule "star/basic/ui/emacs-mission-control"]
	path = star/basic/ui/emacs-mission-control
	url = https://github.com/casouri/emacs-mission-control.git
[submodule "star/basic/ui/nerdtab"]
	path = star/basic/ui/nerdtab
	url = https://github.com/casouri/nerdtab.git
