*
!README.org
!init.el
!early-init.el
!etc
!etc/**/*
!dump.el
!site-lisp/
!site-lisp/**/*
!star/
!star/**/*
!cheatsheet/
!cheatsheet/**/*
!snippets/
!snippets/**/*
!elpa
!screenshot.png
!brown-init.el
!splash.svg
.DS_Store